{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_superuser %}

  <!-- Solicitações sem resposta -->
<div class="floating-box">
    <h4>Solicitações sem resposta</h4>
    <p>Quantidade: {{ tickets_without_reply|length }}</p>
    <div class="d-flex justify-content-center">
      <a href="{{ url_for('.tickets_without_reply') }}" class="btn btn-primary btn-lg">Ver todas</a>

  </div>
  
</div>


{% endif%}

<div class="container mt-5">
  <h1 class="mb-4">Bem-vindo, {{ user.primeiro_nome }}</h1>
  
  <!-- Exibir a informação da coluna info -->
  <p><strong> Mensagem da administração:</strong></p>
  
  {% if user_info %}
      <div class="alert alert-info" role="alert">
          {{ user_info }}
      </div>
      <strong>Data e Hora: {{ info_posted.strftime('%d/%m/%Y %H:%M:%S') }}</strong>
  {% else %}
      <div class="alert alert-secondary" role="alert">
          Nenhuma informação disponível.
      </div>
      
  {% endif %}
  
  

  </ul>

{% endblock%}